.single-post {

}

.single-post__content {
  width: calc(100% - 40px);
  background: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left: 20px;
  margin-top: -130px;
  position: relative;
  z-index: 1;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
}

.single-post__heading {
  font-size: 25px;
  line-height: 28px;
  color: #171717;
}

.single-post__author {
  line-height: 18px;
}

.single-post__short-text {

}